In [49]:
import numpy as np   
import yfinance as yf
import pandas as pd
from pandas_datareader import data as pdr
yf.pdr_override() # this is just for  two libraries are commonly used together. it helps them work better

In [50]:
df1 = pdr.get_data_yahoo('AAPL','2011-01-03','2021-10-31')
df1 = df1[['Open','Close']] # get the colom open close
df1 =df1.rename(columns ={'Open':'Open_AAPL','Close':'Close_APPL'})
df2 = pdr.get_data_yahoo('MSFT','2011-01-03','2021-10-31')
df2 = df2[['Open','Close']]
df2 =df2.rename(columns ={'Open':'Open_MSFT','Close':'Close_MSFT'})
df =df1.merge(df2, on = 'Date')       # on = دمج الجدولين والرابط ال date 
df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

             Open_AAPL  Close_APPL   Open_MSFT  Close_MSFT
Date
2011-01-03   11.630000   11.770357   28.049999   27.980000
2011-01-04   11.872857   11.831786   27.940001   28.090000
2011-01-05   11.769643   11.928571   27.900000   28.000000
2011-01-06   11.954286   11.918929   28.040001   28.820000
2011-01-07   11.928214   12.004286   28.639999   28.600000
...                ...         ...         ...         ...
2021-10-25  148.679993  148.639999  309.359985  308.130005
2021-10-26  149.330002  149.320007  311.000000  310.109985
2021-10-27  149.360001  148.850006  316.000000  323.170013
2021-10-28  149.820007  152.570007  324.329987  324.350006
2021-10-29  147.220001  149.800003  324.130005  331.619995

[2726 rows x 4 columns]

In [51]:
two_years =  df.loc['2011-01-01':'2012-12-31'] # choes only two years 
two_years = two_years[['Close_APPL','Close_MSFT']]                                      # for the return we use the close returns_appl = appl.pct_change()
two_years ['Return_AAPL'] = two_years['Close_APPL'].pct_change()
two_years ['Return_MSFT'] = two_years['Close_MSFT'].pct_change() # we need w4 a1 
two_years = two_years[['Return_AAPL','Return_MSFT']]
two_years = two_years.dropna()
two_years

            Return_AAPL  Return_MSFT
Date
2011-01-04     0.005219     0.003931
2011-01-05     0.008180    -0.003204
2011-01-06    -0.000808     0.029286
2011-01-07     0.007161    -0.007634
2011-01-10     0.018833    -0.013287
...                 ...          ...
2012-12-24     0.001617    -0.014208
2012-12-26    -0.013784    -0.007391
2012-12-27     0.004016     0.003723
2012-12-28    -0.010620    -0.015208
2012-12-31     0.044310     0.006026

[501 rows x 2 columns]

In [52]:
matrix_of_return_values = np.asmatrix(two_years)
matrix_of_return_values = matrix_of_return_values.T

no_of_asset_classes = 2
no_of_portfolios = 10000
collection_of_random_asset_weights = []
portfolio_means = []
portfolio_standard_deviations = []
portfolio_sharpe_ratios = []

In [53]:

def get_random_asset_weights(no_of_asset_classes):
    random_asset_weights = np.random.rand(no_of_asset_classes)
    random_asset_weights /= sum(random_asset_weights)  
    random_asset_weights = np.asmatrix(random_asset_weights)  
    return random_asset_weights    


def get_portfolio_statistics(asset_weights, matrix_of_return_values): 
    asset_means = np.asmatrix(np.mean(matrix_of_return_values, axis = 1))
    asset_covariances = np.asmatrix(np.cov(matrix_of_return_values))
    portfolio_mean = asset_weights * asset_means
    portfolio_mean = portfolio_mean.item()
    portfolio_standard_deviation =np.sqrt(asset_weights * asset_covariances * asset_weights.T) 
    portfolio_standard_deviation = portfolio_standard_deviation.item()
    portfolio_sharpe_ratio = portfolio_mean /portfolio_standard_deviation 
    return portfolio_mean, portfolio_standard_deviation, portfolio_sharpe_ratio


while len(collection_of_random_asset_weights) < no_of_portfolios:
    random_asset_weights = get_random_asset_weights(no_of_asset_classes)
    collection_of_random_asset_weights.append(random_asset_weights) 
    A,B,C=get_portfolio_statistics(random_asset_weights,matrix_of_return_values)
    portfolio_means.append(A)
    portfolio_standard_deviations.append(B)
    portfolio_sharpe_ratios.append(C)

In [54]:
index = portfolio_sharpe_ratios.index(max(portfolio_sharpe_ratios))
print(collection_of_random_asset_weights[index])  # 10 000 port we put 99 of our monay in apple

[[9.99878279e-01 1.21720989e-04]]

In [55]:
some_weights =pd.DataFrame({'AAPL':[0.75],'MSFT':[0.25]},index=[two_years.last_valid_index()])
some_weights

            AAPL  MSFT
2012-12-31  0.75  0.25

In [56]:
capital = 10000
allocations = capital*some_weights
allocations
no_of_shares= allocations

In [58]:
print(df['Close_APPL'].loc[some_weights.last_valid_index()])
print(df['Close_MSFT'].loc[some_weights.last_valid_index()])
no_of_shares['AAPL'].iloc[0] /= df['Close_APPL'].loc[some_weights.last_valid_index()]
no_of_shares['MSFT'].iloc[0] /= df['Close_MSFT'].loc[some_weights.last_valid_index()]
no_of_shares

19.006071090698242
26.709999084472656

                  AAPL       MSFT
2012-12-31  394.610752  93.597907

In [61]:
#another way to do it with loop 
#no_of_shares1= allocations / df[[f'Close_{sym}'for sym in some_weights.columns]].loc[some_weights.last_valid_index()].values

#no_of_shares1