In [ ]:
#strip()	Removes any whitespace form the beginning or the end
#lower()	Returns a string in lower case characters.
#upper()	Returns a string in uppercase characters.
#replace()	Replaces a string with another string.
#split()	Splits the string into sub strings.
#capitalize()	Capitalizes the first character in the string.
#count()	Returns no. of occurrences in the string.
#index()	Returns the index of the character.
#find()	Gives the index value of the string specified.
#isalpha()	Returns true if the string has only alphabets.
#islanum()	Returns true if the string has both alphabets and numbers.
#isdigit()	Returns true if the string has only numbers.
#islower()	Returns true if the string has only lower case characters.
#isupper()	Returns true if the string has only upper case characters.

In [15]:
s = 'string'
l=len(s)
print(l)

6

In [16]:
a=s[2]
print(a)

r

In [17]:
print(s.upper())

STRING

In [19]:
t = 'abc def ghi jklm'

b = t.split()
print(b)

['abc', 'def', 'ghi', 'jklm']

In [12]:
c = s[2:5]
print (c)

rin

In [20]:
d = s[2:6:2]
print(d)
## do it from 2 _6 jump every other one -2-

rn

In [23]:
print(range(5))

range(0, 5)

In [25]:
sum = 0
for char in 'coding':
    sum+=1
    #shortcut for sum=sum+1
print(sum)
    
    #len.()its besc

6

In [32]:
sum2 = 0
i = 1 
while i < 7:
    sum2 += 2
    i+= 1
    print(i)
print(sum2)
print(i)

2
3
4
5
6
7
12
7

In [46]:
name = 'Khalid'
if name == 'Khalid':
    print("hi Khalid")
else:
    print("back off doud ")

hi Khalid